
page-show-requests {
    p{
        font-weight: bold
    }
    blockquote{
        font-weight: bold
    }
}
.card{
    direction: rtl;
}
.callBtn{
    font-size:large;
}
.deletBtn{
    float: left;
    color: #be5251;
    font-size: 1.6em;
}