<ion-header>

  <ion-navbar color="dark-red">
      <ion-title>تبرع الان </ion-title>
      <!-- <ion-buttons end style="opacity:0" >
        <button ion-button icon-only>
          <ion-icon name="funnel"></ion-icon>
        </button>
      
        <ion-select id="fil" [(ngModel)]="filter" interface="popover">
            <ion-option value="1">الكل</ion-option>
            <ion-option value="A+">A+</ion-option>
            <ion-option value="A−">A-</ion-option>
            <ion-option value="O−">O−</ion-option>
            <ion-option value="O+">O+</ion-option>
            <ion-option value="B−">B− </ion-option>
            <ion-option value="B+">B+</ion-option>
            <ion-option value="AB−">AB−</ion-option>
            <ion-option value="AB+">AB+</ion-option>
        </ion-select>
     </ion-buttons> -->

  </ion-navbar>
  <ion-grid style="background-color: #b7514d">

    <ion-row>

      <ion-col col-6 >
            <ion-buttons end  class="filter-btn">
                    <ion-icon name="funnel"></ion-icon>
                    تصفية حسب فصيلة الدم
                    <ion-select  [(ngModel)]="filter" interface="popover">
                        <ion-option value="1">الكل</ion-option>
                        <ion-option value="A+">A+</ion-option>
                        <ion-option value="A−">A-</ion-option>
                        <ion-option value="O−">O−</ion-option>
                        <ion-option value="O+">O+</ion-option>
                        <ion-option value="B−">B− </ion-option>
                        <ion-option value="B+">B+</ion-option>
                        <ion-option value="AB−">AB−</ion-option>
                        <ion-option value="AB+">AB+</ion-option>
                    </ion-select>
                 </ion-buttons>
    </ion-col>

    <ion-col col-6 >
            <ion-buttons end  class="filter-btn">
                    <ion-icon name="funnel"></ion-icon>
                    تصفية حسب المحافظات
                    <ion-select  [(ngModel)]="states" interface="popover">
                        <ion-option value="1">الكل</ion-option>
                        <ion-option value="بغداد">بغداد</ion-option>
                        <ion-option value="نينوى">نينوى</ion-option>
                        <ion-option value="البصرة">البصرة</ion-option>
                        <ion-option value="اربيل">اربيل</ion-option>
                        <ion-option value="صلاح الدين">صلاح الدين</ion-option>
                        <ion-option value="ذي قار">ذي قار</ion-option>
                        <ion-option value="كركوك">كركوك</ion-option>
                        <ion-option value="الانبار+">الانبار</ion-option>
                        <ion-option value="القادسية">القادسية</ion-option>
                        <ion-option value="دهوك">دهوك</ion-option>
                        <ion-option value="ديالى">ديالى</ion-option>
                        <ion-option value="ميسان">ميسان</ion-option>
                        <ion-option value="واسط">واسط</ion-option>
                        <ion-option value="كربلاء">كربلاء</ion-option>
                        <ion-option value="السليمانية">السليمانية</ion-option>
                        <ion-option value="بابل">بابل</ion-option>
                        <ion-option value="النجف">النجف</ion-option>
                        <ion-option value="المثنى">المثنى</ion-option>
                    </ion-select>
                 </ion-buttons>
    </ion-col>

    </ion-row>
  </ion-grid>
</ion-header>


<ion-content padding>
    
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingText="اسحب للتحديث"
        refreshingText="جاري التحديث">
      </ion-refresher-content>
      </ion-refresher>

<div *ngFor="let item of requests">
        <ion-card *ngIf="item.hide == 0 && ( (item.bloodtype == filter)  || (filter == 1) ) && ((item.state == states) || (states == 1))">
                <ion-grid  >
                     <ion-item >
                         <ion-avatar item-start>
                                <img src="./assets/imgs/user.png">
                         </ion-avatar>
                         <h2>{{item.name}}</h2>
                         <ion-icon *ngIf="item.added_by == userId" name="trash" class="deletBtn" (click)="delete(item.id)"></ion-icon>
                         
                         <p style="display:inline">{{item.created_at}}</p>
                     </ion-item>
             
             
             
                     <ion-card-content>
                         <p>فصيلة الدم : {{item.bloodtype}}</p>
                         <p> المحافظة : {{item.state}}</p>
                         <p> المستشفى : {{item.location}}</p>
                         <p> عمر المريض : {{item.age}} سنة</p>
                         <p> ملاحظات اخرى:
                         </p>
                         <blockquote>{{item.notes}}</blockquote>
                     </ion-card-content>
             
                     <ion-row>
                            <ion-col>
                                <button ion-button block class="callBtn" color="dark-green" (click)="call(item.phone)">
                                <div style="margin:8px">  اتصل <ion-icon style="padding-right: 15px" name="call" ></ion-icon>
                                </div>
                              </button>
                            </ion-col>
                        </ion-row>
                 </ion-grid>
                 </ion-card>
</div>


</ion-content>
