<!--
  Generated template for the DonorsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark-red">
    <ion-title>المتبرعيين</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="funnel"></ion-icon>
        </button>
      
        <ion-select [(ngModel)]="filter" interface="popover">
            <ion-option value="1">الكل</ion-option>
            <ion-option value="A+">A+</ion-option>
            <ion-option value="A−">A-</ion-option>
            <ion-option value="O−">O−</ion-option>
            <ion-option value="O+">O+</ion-option>
            <ion-option value="B−">B− </ion-option>
            <ion-option value="B+">B+</ion-option>
            <ion-option value="AB-">AB−</ion-option>
            <ion-option value="AB+">AB+</ion-option>
        </ion-select>
     </ion-buttons>
  </ion-navbar>
 
</ion-header>


<ion-content padding>
  
        <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content
                pullingText="اسحب للتحديث"
                refreshingText="جاري التحديث">
              </ion-refresher-content>
              </ion-refresher>
        
        

  <ion-card *ngFor="let item of donordata  ">
    <ion-grid *ngIf="item.hide == 0 && ((item.bloodtype == filter) || (filter == 1))" >
            <ion-item  >
                <ion-avatar item-start>
                    <img src="./assets/imgs/user.png">
                </ion-avatar>
                <h2>{{item.name}}</h2>
                <ion-icon *ngIf="item.added_by == userId"name="trash" class="deletBtn" (click)="delete(item.id)"></ion-icon>

            </ion-item>
    
            <ion-card-content>
                <p>فصيلة الدم : {{item.bloodtype}}</p>
                <p> المحافظة : {{item.state}}</p>
                <p> العنوان : {{item.location}}</p>
                <p>  ملاحظات اخرى   : {{item.note}} </p>
               
            </ion-card-content>
    
            <ion-row>
                <ion-col>
                    <button ion-button block class="callBtn" color="dark-green" (click)="call(item.phone)">
                    <div style="margin:8px">  اتصل <ion-icon style="padding-right: 15px" name="call" ></ion-icon>
                    </div>
                  </button>
                </ion-col>
            </ion-row>
        </ion-grid>
        </ion-card>

</ion-content>
