page-all-donors {
.select-md {
    padding: 0px;
}
.select-text {
    padding-right: 40px;
    color: white;
    font-size: large;
}
}
.card{
    direction: rtl;
}
.callBtn{
    font-size:large;
}
.deletBtn{
    float: left;
    color: #be5251;
    font-size: 1.6em;
}
